<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456505895258-dmko3agllaj9aasgto6df8ad40g173o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456505895258-dmko3agllaj9aasgto6df8ad40g173o1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>456505895258-s592on028g8u85ur9pbq172can9o4qdb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAid0IMmT0jPiZdcRJVRLElJJFqCvhbmfc</string>
	<key>GCM_SENDER_ID</key>
	<string>456505895258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practiceproject</string>
	<key>PROJECT_ID</key>
	<string>quizz-35a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>quizz-35a1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456505895258:ios:b1e4fe06685e052ffe6b63</string>
	<key>DATABASE_URL</key>
	<string>https://quizz-35a1e-default-rtdb.firebaseio.com</string>
</dict>
</plist>